h1   {
          background-color:grey;
color:green; }
	   
body   {
          font-family:arial;
background-color:#A2888F4;}
		  
p  { color:purple;}

ul{background-color: red;}
   border: solid 2px }
   border-color: blue }
   border-top-style : dotted;
   border-bottom-style: dashed;
   padding-top:5px;
   




         